body {
	background-color: black;
	padding: 8px 8px 8px 120px;
	font-family: "Tre.buchet MS", Helvetica, sans-serif;
	letter-spacing: 1px;
	font-size: 15px;
}

.frameCanvasStyle {
	float: left;
}

h2 {
	font-weight: normal;
	letter-spacing: 2px;
	margin: 0px;
	padding: 0px;
}

#forFirstInputs, #forSecondInputs, #forThirdInputs, #forThirdDefaultInputs {
	width: 33%;
	height: 30%;
	float: left;
	margin: 0px 10px 5px 20px;
	padding: 15px;
	color: white;
}

.heading {
	color: #40AFFF;
	text-align: left;
	font-weight: normal;
	margin: 0px 0px 15px 120px;
}

.dimensionInput{
	width: 50px;
	height: 14px;
	margin-top: 10px;
	margin-left: 10px;
}

.enterButton {
	font-weight: bold;
	font-family: "Tre.buchet MS", Helvetica, sans-serif;
	width: 100px;
	height: 30px;
	font-size: 13px;
}

.startButton {
	font-weight: bold;
	font-family: "Tre.buchet MS", Helvetica, sans-serif;
	width: 100px;
	height: 30px;
	font-size: 13px;
	float: left;
	margin-right: 10px;
}

.defaultButton {
	font-weight: bold;
	font-family: "Tre.buchet MS", Helvetica, sans-serif;
	width: 180px;
	height: 30px;
	font-size: 13px;
}

.coordinatesInput {
	width: 40px;
	height: 14px;
	margin-top: 10px;
	margin-left: 10px;
}

.nextButton, .previousButton {
	font-weight: bold;
	font-family: "Tre.buchet MS", Helvetica, sans-serif;
	width: 165px;
	height: 30px;
	font-size: 13px;
}

.previousButton {
	margin-left: 8px;
}

#pointDecision, #details, #lineEquation {
	float: left;
	width: 100%;
	margin: 0px;
}

#details {
	margin-top: 9px;
	margin-bottom: 12px;
}

#lineEquation, #extraDetails1, #extraDetails2 {
	margin-top: 3px;
	color: white;
	font-family: "Tre.buchet MS", Helvetica, sans-serif;
	font-size: 12px;
}

#lineEquation {
	margin-bottom: 8px;
}

#extraDetails2 {
	margin-bottom: 20px;
}


#pointDecisionDef, #detailsDef, #lineEquationDef {
	float: left;
	width: 100%;
	margin: 0px;
}

#detailsDef {
	margin-top: 9px;
	margin-bottom: 12px;
}

#lineEquationDef, #extraDetails1Def, #extraDetails2Def {
	margin-top: 3px;
	color: white;
	font-family: "Tre.buchet MS", Helvetica, sans-serif;
	font-size: 12px;
}

#lineEquationDef {
	margin-bottom: 8px;
}

#extraDetails2Def {
	margin-bottom: 20px;
}

form {
	margin: 0px;
	padding: 0px;
	float: left;
}



