body {
	background-color: black;
	padding: 10px 10px 5px 120px;
	font-family: "Tre.buchet MS", Helvetica, sans-serif;
	letter-spacing: 1px;
}

.frameCanvasStyle {
	float: left;
}

h2 {
	font-weight: normal;
	letter-spacing: 2px;
}

#forFirstInputs, #forSecondInputs, #forThirdInputs {
	width: 30%;
	height: 30%;
	float: left;
	margin: 0px 10px 5px 20px;
	padding: 20px;
	color: white;
}

.heading {
	color: #40AFFF;
	text-align: left;
	font-weight: normal;
	margin-bottom: 20px;
	margin-left: 120px;
}

.dimensionInput{
	width: 50px;
	height: 14px;
	margin-top: 10px;
	margin-left: 10px;
}

.enterButton {
	font-weight: bold;
	font-family: "Tre.buchet MS", Helvetica, sans-serif;
	width: 100px;
	height: 30px;
	font-size: 16px;
}

.coordinatesInput {
	width: 40px;
	height: 14px;
	margin-top: 10px;
	margin-left: 10px;
}